#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 5s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}

audio {
    display: none;
}

.output {
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    color: white;
    margin-top: 60px;
    h1 {
        font-size: 30px;
    }
}


/* Cursor Styling */

.cursor::after {
    content: '';
    display: inline-block;
    margin-left: 3px;
    background-color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

h1.cursor::after {
    height: 50px;
    width: 13px;
}

p.cursor::after {
    height: 20px;
    width: 6px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.container1 {
    width: 300px;
    height: 100px;
    position: relative;
    margin: 100px auto;
    border-radius: 50px;
    border: 3px dotted #eee;
    text-align: center;
    font-family: sans-serif;
    padding-top: 10px;
}

.dot {
    position: absolute;
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: rotate(0deg);
    top: 25px;
    left: 25px;
    opacity: 0.1;
    transition: all 0.75s cubic-bezier(.71, 0, .33, 1.56) 0ms;
}

.container1:hover .dot {
    transform: rotate(360deg);
    border-radius: 0%;
    left: 225px;
    background: rgb(236, 28, 63);
}

.dot.two {
    transition-delay: 3ms;
}

.dot.three {
    transition-delay: 6ms;
}

.dot.four {
    transition-delay: 9ms;
}

.dot.five {
    transition-delay: 11ms;
}

.dot.six {
    transition-delay: 14ms;
}

.dot.seven {
    transition-delay: 17ms;
}

.dot.eight {
    transition-delay: 20ms;
}

.dot.nine {
    transition-delay: 23ms;
}

.dot.ten {
    transition-delay: 26ms;
}

.dot.eleven {
    transition-delay: 29ms;
}

.dot.twelve {
    transition-delay: 32ms;
}

.dot.thirteen {
    transition-delay: 35ms;
}

.dot.fourteen {
    transition-delay: 38ms;
}

.dot.fifteen {
    transition-delay: 41ms;
}

.dot.sixteen {
    transition-delay: 44ms;
}

.dot.seventeen {
    transition-delay: 47ms;
}

.dot.eighteen {
    transition-delay: 50ms;
}

.dot.nineteen {
    transition-delay: 53ms;
}

.dot.twenty {
    transition-delay: 56ms;
}

.bannar{
    height:90px;
}

.balloon-border{
    height:90px;
}
